.logo {
    float: left;
    width: 250px;
    height: 150px;

    background-image: url("https://img-c.udemycdn.com/organization/W_70/120522_c707.png");
    background-size: 75%;
    background-repeat: no-repeat;
}
